.bg-primary{
  background: rgba(from var(--primary-color) r g b / 0.05);
}
.bg-dark{
  background:  rgba(from var(--color-black) r g b / 0.2);

}

///// LOGO
#logo-c{
  fill: var(--color-white);
}
#logo-v{
  fill: var(--primary-color);
}