.border{
  border: var(--global-border);
  border-radius: var(--global-radius);
}
.tmp-border{
  border: 1px solid red;
}

.dotted-border{
  border: 1px dotted var(--color-white);

  &-t{

    border-top: 1px dotted var(--color-white);
  }
  &-b{

    border-bottom: 1px dotted var(--color-white);
  }
  &-s{

    border-left: 1px dotted var(--color-white);
  }
  &-e{

    border-right: 1px dotted var(--color-white);
  }
  &-x{
    border-left: 1px dotted var(--color-white);
    border-right: 1px dotted var(--color-white);
  }
  &-y{
    border-top: 1px dotted var(--color-white);
    border-bottom: 1px dotted var(--color-white);
  }
}