.btn {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  border-radius: 3px;

  padding: 5px 10px;
  margin: 0 5px;

  transition: all 1.2s ease-out;
  border: 1px solid transparent;
  outline: 1px solid transparent;

  &-primary {
    background-color: var(--primary-color);
  }
  &-secondary {
    background-color: var(--secondary-color);
  }
  &-success {
    background-color: var(--success-color);
  }
  &-danger {
    background-color: var(--danger-color);
  }
  &-warning {
    background-color: var(--warning-color);
  }
  &-info {
    background-color: var(--info-color);
  }
  &-highlight {
    background: linear-gradient(0deg, rgba(from var(--highlite) r g b / .6) 25%, rgba(from var(--highlite) r g b / 0.4) 100%);
  }

  //// Buttons states:
  &:hover {
    background-color: rgba(from var(--highlite) r g b / 0.4);
    box-shadow: 0 0 10px rgba(from var(--highlite) r g b / 0.7);
    border: 1px solid rgba(from var(--color-white) r g b / 0.4);
    transition: all 0.5s ease-in-out;
  }

  /// Buttons while active:
  &-active {

    color: var(--text-color);
    background: radial-gradient(ellipse at top, var(--highlite) 0%, transparent 30%);

    outline: 1px solid rgba(from var(--text-color) r g b / 0.2);
    border-radius: 12px;

    transition: all 0.5s ease-in-out;
  }
}