.btn {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  border-radius: 0.2rem;
  padding: 0.2rem 1.5rem;
  transition: all 0.8s ease-in-out;

  &.high-lite {
    background-color: rgba(from var(--color-highite) r g b / 0.2);
  }

  &:hover {
    background-color: rgba(from var(--color-highite) r g b / 0.4);
    transition: all 0.2s ease-in-out;
  }

}