.btn {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  border-radius: 3px;

  padding: 3px 8px;
  margin: 0 5px;

  transition: all 1.2s ease-out;

  &.high-lite {
    background-color: rgba(from var(--color-highite) r g b / 0.2);
  }

  &:hover {
    background-color: rgba(from var(--color-highite) r g b / 0.4);
    transition: all 0.2s ease-in-out;
  }

}