.card {
  border: var(--global-border);

  background: rgba(from var(--primary-color) r g b / 0.05);
  border-radius: var(--global-radius);
  backdrop-filter: blur(10px);
  transition: all 1s ease-in-out;


  &:hover {
    border: rgba(from var(--primary-color) r g b / 0.6) 1px solid;
    background: rgba(from var(--primary-color) r g b / 0.2);
    transition: all 0.2s ease-in-out;

    .card-circle-image img {
      opacity: 0.10;
      filter: blur(0px);
      transition: all 0.5s ease-out;
    }
  }

  .card-body {
    padding: clamp(5px, 2rem, 4rem) clamp(5px, 1.4rem, 2rem);

  }

  .card-circle-image {
    width: 100%;
    height: 100%;
    border-radius: var(--global-radius);
    position: absolute;
    overflow: hidden;
    z-index: -1;

    & img {
//      width: 800px;
      min-height: 100%;
      margin-top: -20%;
      margin-left: -20%;
      clip-path: circle(80% at top left);
      object-fit: cover;
      position: relative;
      display: block;
      opacity: 0.4;
      filter: blur(10px);
      transition: all 0.5s ease-out;
      z-index: -1;
    }
  }

}

.sub-card {
  padding: 1rem;
  border: var(--global-border);
  border-radius: var(--global-radius);


}

.card:has(.sub-card) .sub-card{
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}
.card:has(.sub-card):hover .sub-card{
  background: rgba(from var(--primary-color) r g b / 0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;
}