body {

  color: var(--text-color);
  background: var(--bg-color);
  height: 100%;

  &:before {
    content: "";
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    filter: blur(100px);
    z-index: -1;
    background: radial-gradient(circle at center, var(--bg-dot-color) 0%, var(--bg-color) 70%);
  }
}

.container {
  width: clamp(320px, 90%, 1200px);
  margin: 0 auto;
  height: 100%;
}


.download-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

//@media (prefers-color-scheme: dark) {
//  body:before {
//    background: radial-gradient(circle at center, var(--primary-color) 0%, var(--bg-color) 70%);
//  }
//}
//@media (prefers-color-scheme: light) {
//  body:before {
//    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 70%, rgba(179, 179, 179, 1) 100%);
//  }
//}