body {

  color: var(--text-color);
  background-color: var(--bg-color);

  &:before {
    content: "";
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, var(--primary-color) 0%, var(--bg-color) 70%);
    pointer-events: none;
    filter: blur(100px);
    z-index: -1;
  }
}

.container {
  width: clamp(320px, 90%, 1200px);
  margin: 0 auto;
}

.flex {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  &-half {
    width: calc(50% - 0.5rem);
//    min-width: calc(50% - $gap) ;
//    max-width: 100% ;
//    flex-wrap: wrap;
//    border: 1px solid red;
  }
  &-third {
    width: 33.33%;
  }
  &-quarter {
    width: 25%;
  }

}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify {
  &-start { justify-content: flex-start; }
  &-center { justify-content: center; }
  &-between { justify-content: space-between; }
  &-around { justify-content: space-around; }
  &-evenly { justify-content: space-evenly; }
}

.align {
  &-start { align-items: flex-start; }
  &-center { align-items: center; }
  &-end { align-items: flex-end; }
  &-stretch { align-items: stretch; }
  &-botom { align-items: baseline; }
  &-top {
    align-items: flex-start;
  }
}