.gap{
  display: flex;

  @for $i from 1 through 10 {
    &-#{$i}{
      gap: $i * 0.5rem;
    }
  }
}
.gap-col{
  display: flex;
  flex-direction: column;
  @for $i from 1 through 10 {
    &-#{$i}{
      gap: $i * 0.5rem;
    }
  }
}