.gap {

  &-0 { gap: 0; }

  @for $i from 1 through 10 {
    &-#{$i} {
      gap: $i * 0.5rem;
    }
  }
}

.gap-col {

  &-0 { gap: 0; }

  @for $i from 1 through 10 {
    &-#{$i} {
      gap: $i * 0.5rem;
    }
  }
}