
.hero {
  width: 80%;
  margin: 2rem auto;


  display: flex;
  flex-direction: column;
  gap: 2rem;

  //border: 1px solid var(--primary-color);

  & h1 {

    margin: 10% auto 1rem auto;


    text-align: center;
    text-wrap: balance;
  }

  & ul{
    padding: 0;
    margin: 0 auto 2rem auto;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    //border: 1px solid var(--primary-color);

    & li {
      flex-wrap: nowrap;
      font-size: 1.2rem;
      line-height: 1.5;

    }
  }
}