$step: 0.5rem;
.m{

  @for $i from 1 through 20 {
    &-#{$i}{
      margin: $i * $step;
    }
    &t-#{$i}{
      margin-top: $i * $step;
    }
    &b-#{$i}{
      margin-bottom: $i * $step;
    }
    &s-#{$i}{
      margin-left: $i * $step;
    }
    &e-#{$i}{
      margin-right: $i * $step;
    }
    &x-#{$i}{
      margin-left: $i * $step;
      margin-right: $i * $step;
    }
    &y-#{$i}{
      margin-top: $i * $step;
      margin-bottom: $i * $step;
    }
  }


}