nav{
  border: var(--global-border);
  border-radius: var(--global-radius);
  padding: 0.3rem 1rem 0.8rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 1000;

  background: rgba(from var(--primary-color) r g b / 0.2);
  backdrop-filter: blur(10px);



  & .logo{
    grid-area: logo;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-wrap: nowrap;
    color: var(--text-color);

  }
  & .nav-items-left{
    grid-area: nav-items-left;
  }
  & .nav-items-right{
    grid-area: nav-items-right;
    text-align: right;
  }

}

@media (min-width: 63em) {
  nav:first-child {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-areas: "nav-items-left logo nav-items-right";
    align-items: baseline;

  }
}
@media (max-width: 63em) {
  nav {
    display: grid;
    grid-template-areas: "logo" "nav-items-left" "nav-items-right";
    gap: 0.4rem;


  & .nav-items-left, & .nav-items-right {
    text-align: center;
  }
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}