.progressbar {
  box-sizing: content-box;
  height: 10px;
  position: relative;
  border-radius: var(--global-radius);
  background-color: var(--primary-color);
  overflow: hidden;

  span {
    border-radius: var(--global-radius) 0 0 var(--global-radius);
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba(from var(--super-green) r g b / 1);

  }

  &.inactive span {
    background-color:  rgba(from var(--super-green) r g b / 0.3);

  }

}