@forward "variables";

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.stat {
  background: rgba(from var(--primary-color) r g b / 0.2);
  border: var(--global-border);
  border-radius: var(--global-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  font-weight: 500;
  min-width: 200px;
  .stat-title {
    font-size: 1.4rem;
  }

}



.holder {
  height: 50px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.holder:after {
  content: "";
  height: 10px;
  width: 100%;
  position: relative;
  top: -25px;
  z-index: -1;
  border: var(--global-border);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(from var(--primary-color) r g b / 0.1);
  backdrop-filter: blur(10px);
}