@forward "variables";

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.stat {
  background: rgba(from var(--primary-color) r g b / 0.2);
  border: var(--global-border);
  border-radius: var(--global-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem 2rem;
  font-weight: 500;
  min-width: 200px;
  .stat-title {
    font-size: 1.4rem;
  }

}

.progressbar {
  box-sizing: content-box;
  height: 10px;
//  margin: 1rem -20px 0rem;
  position: relative;
  border-radius: var(--global-radius);
  background-color: var(--primary-color);
  box-shadow: 0 0 2px #000;
  overflow: hidden;

  span {
    border-radius: var(--global-radius) 0 0 var(--global-radius);
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgba(from var(--super-green) r g b / 0.6);
    box-shadow: 0 0 2px #000;
  }
}

.holder {
  height: 50px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.holder:after {
  content: "";
  height: 10px;
  width: 100%;
  position: relative;
  top: -25px;
  z-index: -1;
  border: var(--global-border);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(from var(--primary-color) r g b / 0.1);
  backdrop-filter: blur(10px);
}