span.tag {
  display: inline-flex;
  margin-bottom: 1rem;
}

.tag {
  padding: 5px 30px;
  clip-path: polygon(calc(0% + 20px) 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
  text-wrap: nowrap;
  background: var(--primary-color);
//  font-family: Switzer-Medium, sans-serif;
//  text
  font-weight: 300;

}




