.tooltip {

  position: relative;

  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
  width: 100%;
  anchor-name: --tooltip-anchor;

  &-text {
    visibility: hidden; /* Hidden by default */

   background: linear-gradient(rgba(from var(--color-black) r g b / .9) 70%, rgba(from var(--color-black) r g b / 1));
    border-left: 5px solid var(--super-green);
    border-bottom: none;
    box-shadow: var(--default-shadow);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: var(--global-radius);
    position: absolute;
    bottom: 120%;
    z-index: 1000; /* Ensure tooltip is displayed above content */

    //    animation: rotate-colors 10s infinite;

    font-size: 0.9rem;
    & div {
      font-weight: 300;
      font-style: italic;
    }

    &:after {
      content: "";
      position: absolute;
      background: var(--color-black);
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      height: 15px;
      width: 20px;
      bottom: -14px;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    offset-distance: 10px;

  }
}

//@keyframes rotate-colors {
//  0% {
//    border-left: 5px solid var(--super-green);
////    backdrop-filter: blur(10px);
//  }
//  50%  {
//    border-left: 5px solid var(--color-primary-dark);
//  }
//  100% {
//    border-left: 5px solid var(--super-green);
//  }
//}

//@position-try --below-right {
//  inset: unset;
//  top: anchor(bottom);
//  left: anchor(left);
//}
//@position-try --below-left {
//  inset: unset;
//  top: anchor(bottom);
//  right: anchor(right);
//}
//
//@position-try --above-left {
//  inset: unset;
//  bottom: anchor(top);
//  right: anchor(right);
//}
//@position-try --above-right {
//  inset: unset;
//  bottom: anchor(top);
//  left: anchor(left);
//}
