:root {

  //specific colors:
  --color-primary: #1d72a2;
  --color-highite: #2590D2;
  --color-super-green: #72B01D;

  // default colors:
  --color-blue: #007bff;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #e83e8c;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #28a745;
  --color-teal: #20c997;
  --color-cyan: #17a2b8;

  // grayscale colors:
  --color-white: #fff;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-black: #000;


  // Theme Colors:
  --primary-color: rgba(from var(--color-primary) r g b / 0.4);
  --info-color: rgba(from var(--color-highite) r g b / 1);
  --success-color: rgba(from var(--color-super-green) r g b / 0.4);
  --warning-color: rgba(from var(--color-yellow) r g b / 0.4);
  --danger-color: rgba(from var(--color-red) r g b / 0.4);
  --super-green: rgb(from var(--color-super-green) r g b );

  --text-color: var(--color-white);
  --bg-color: var(--color-black);


  // Global Variables:
  --global-radius: 10px;
  --global-border: 1px solid rgba(from var(--primary-color) r g b / 0.4);

  --default-font-size: 1rem;
  --default-line-height: 2;
}