:root {

  //// Theme
  // Global & theme Variables:
  --global-radius: 10px;
  --global-border: 1px solid rgba(from var(--primary-color) r g b / 0.4);
  --default-font-size: 1rem;
  --default-line-height: 2;

  interpolate-size: allow-keywords;


  ////// Theme Colors:
  /// DARK Mode:
  @media (prefers-color-scheme: dark) {


    --primary-color: rgba(from var(--color-primary-dark) r g b / 0.4);
    --secondary-color: rgba(from var(--color-secondary-light) r g b / 0.8);
    --info-color: rgba(from var(--color-highlight-dark) r g b / 1);
    --success-color: rgba(from var(--color-accent-dark) r g b / 0.4);
    --warning-color: rgba(from var(--color-yellow) r g b / 0.4);
    --danger-color: rgba(from var(--color-red) r g b / 0.4);

    --highlite: rgba(from var(--color-highlight-dark) r g b / 1);
    --super-green: rgb(from var(--color-accent-dark) r g b);

    --text-color: var(--color-white);
    --text-muted: var(--color-gray-mid);
    --bg-color: var(--color-black);

  }

  /// LIGHT Mode:
  @media (prefers-color-scheme: light) {

    --primary-color: rgba(from var(--color-primary-light) r g b / 0.8);
    --secondary-color: rgba(from var(--color-secondary-light) r g b / 0.8);
    --info-color: rgba(from var(--color-highlight-light) r g b / 1);
    --success-color: rgba(from var(--color-accent-light) r g b / 0.4);
    --warning-color: rgba(from var(--color-yellow) r g b / 0.4);
    --danger-color: rgba(from var(--color-red) r g b / 0.4);

    --highlite: rgba(from var(--color-highlight-light) r g b / 1);
    --super-green: rgb(from var(--color-accent-light) r g b);

    --text-color: var(--color-downriver);
    --text-muted: var(--color-gray-dark);
    --bg-color: var(--color-white);

  }

}